[2017-11-27 16:26] nuest opened #1 "DevOps - perspective"
E.g.

- https://www.opencpu.org/posts/opencpu-with-docker/

[2018-01-01 18:01] nuest opened #2 "rockerverse package"
just like https://cran.r-project.org/package=tidyverse

IMO this could be quite helpful (though unlikely to get to CRAN?) because it could manage the installation sources, i.e. install some packages from CRAN while others from GitHub.

[code]

[2019-07-25 14:21] nuest opened #3 "Rockerverse paper collaboration"
The R Journal article about Rocker, https://journal.r-project.org/archive/2017/RJ-2017-065/index.html, is a great introduction, but by now there is almost an ecosystem of packages around the Rocker project.

Looking at [a recent tweet](https://twitter.com/noamross/status/1151254374771019777) reminded me of this idea for a paper capturing the full breadth of Docker/containers in R; demonstrating al

[2019-07-25 14:37] eddelbuettel commented on #3
Thumbs up, in principle, though there is a lot to digest.   First differences may be between _building Rocker_ which is narrower and an overview of _various Rocker use cases_ which may be a little disconnected.   But count me in (as saying "sure" is way easier than actually doing work ... ).

But there is potentially a lot here so maybe more than a single paper?

Also, just to spread it even furth

[2019-07-25 16:05] ColinFay commented on #3
Count me in!

As Dirk said, there might be a lot to cover for just one article.

Here are some use-cases I can think of from a personal experience/POV
- Deploying Shiny applications into production
- Deploying RStudio Server in production, for example in a pharmaceutical context where you've got to lock dev and analysis at a moment in time.
- Using a docker image as a tool for teaching: that's one

[2019-07-25 16:20] cboettig commented on #3
cc @karthik (https://github.com/karthik/holepunch)

:+1: Would be great to gather these in one place.  Since many of us are academics, doing this in paper format is a good way to incentivize things a little; though a more dynamic web format may also be appropriate (though those can get stale easily too).  In any event, a bit of reflection from a broad group about the current state of this ecosyste

[2019-07-25 19:33] MarkEdmondson1234 commented on #3
Same as above, happy to help if I can. My prime use case are Docker images for Cloud services that do not support R as first-class citizen, biased to Google but part of the fun is that most cloud services are moving to containers these days.

[2019-07-26 03:04] nanxstats commented on #3
-sounds like a good idea. I'm happy to contribute a section on my package [liftr](https://liftr.me/), which is about rendering R Markdown documents with containers, for achieving OS-level reproducibility.

[2019-07-26 16:52] rcannood commented on #3
Great initiative! I (and most likely @zouter as well) would be willing to share our experiences with the following topics:
* [babelwhale](https://cran.r-project.org/web/packages/babelwhale/index.html): Running a Docker from R with Singularity or Docker as back-end. This is really useful in HPC environments where a user might not have root access but is able to install Singularity instead of Docker

[2019-07-26 17:57] benmarwick commented on #3
Yes, happy to contribute to a journal article that is a rocker use-case survey. I could add a remark about the place of rocker in research compendia

[2019-07-27 02:43] noamross commented on #3
Good idea! I could discuss using Rocker in different CI/CD systems, as well as using Rocker to set up a common work environment for teams - I've been working with Carl on porting our custom GPU setup into a standard Rocker template.

[2019-07-27 22:08] nuest opened #4 "Structuring, grouping, guilding thread"
For now, we're collecting different use cases that might be grouped across various dimensions. _What is the golden thread? What is a potential structure for the article?_

[2019-07-28 09:39] nuest commented on #3
Wow.

I am extremely glad about the positive feedback by all of you. I'll do my best to make this a pleasant effective collaboration. Some replies to your comments:

- _re. academic paper_: the targeted output is settled then. This document does not use the R Journal template by accident, but feel free to suggest other venues.
- _scope/split up into two articles and content_: I [added](https://git

[2019-07-28 09:39] nuest commented on #3
@karthik Would you be interested to write up a little segment about [holepunch](https://github.com/karthik/holepunch) (unless you're pursuing another publication of course) ?

@dtenenba @lshep (sorry to miss you in the first call for participation!) Would you be interested to contribute a short section on the Bioconductor images?

[2019-07-29 16:34] dtenenba commented on #3
@nuest Thanks for asking but I haven't been involved in the Bioconductor project for the last few years.

[2019-07-29 16:57] lshep commented on #3
@nuest  Let me check with my supervisor. I will get back to you in the next day or two.

[2019-07-29 17:50] karthik commented on #3
@nuest Yes absolutely!

[2019-07-30 09:40] nuest commented on #2
Could the package also run a few tests to make sure that Docker is installed and available, before installing all the tools that rely on it?

[2019-07-30 09:50] nuest commented on #3
Hi all,

I've just made you collaborators on the project, so please use branches/forks/pull requests as you see fit, though I'd like to keep an eye on the master branch so that you don't have to worry about merging. Just ping me.

I'll also stop pushing directly to `master` myself :-)

[2019-08-01 09:08] nuest opened #5 "What's missing / next?"
[An issue to collect ideas and content for the outlook section.]

- moving away from Docker focus towards containers?
  - wrapper for [podman'S Varlink-API](https://github.com/containers/libpod/blob/master/API.md) (similar to `stevedore`) and `buildah` to manage containers and images respectively, without Docker
  - control packages for Singularity support
- integration of containers and RStudio?

[2019-08-06 17:05] lshep commented on #3
I received permission to participate and would very much like to contribute a section about Bioconductor.  My colleague  @nturaga and I have been managing Bioconductor dockers so we would write the section together.

[2019-08-06 17:06] nturaga commented on #3
Hi @nuest I'm part of the Bioconductor core team and over the last few months I've been working on making some Bioconductor images, and my colleague @lshep invited me to this page. I'm happy to contribute.

[2019-08-07 09:28] nuest commented on #3
@lshep @nturaga Thank you! Please feel free to open a PR or push your changes to a branch, see the proposed next steps here: https://github.com/nuest/rockerverse-paper/issues/3#issuecomment-515748326

[2019-08-07 09:31] nuest commented on #3
**All**: Please don't forget to fill out https://doodle.com/poll/2gdenwqaa4cqzwnb so we can have a couple of conversations. (It's holiday season, so no worries if you don't see this. Just want to increase the chances of selecting a sport that works for you.)

Thanks!

[2019-08-07 10:01] richfitz commented on #3
I'm happy to contribute something on `stevedore` and can also talk about our experiences using R-based docker images in production environments.  Bits below copied from a chat with @noamross earlier this year

One thing from the above that might be interesting is using docker to containerise R for use as part of a multi-language setting.  So our web developers can use whatever language they want a

[2019-08-15 14:22] nuest opened #6 "On Singularity"
There is a bunch of Singularity images found when searching for "rstudio": https://singularity-hub.org/search

Ideally we would review those, or someone starts a Rocker-like consolidation?

![image](https://user-images.githubusercontent.com/1325054/63101185-ce526d80-bf78-11e9-8f31-372c5dd71eb7.png)

[2019-08-15 14:54] vsoch commented on #6
Re-sharing some comments from the linked issue!

For Singularity Hub (I can answer this with confidence because I run it) the images there are primarily done by individuals that want to run a container-based analysis on HPC, so that's why you don't see any sort of library of R base images, but you see a lot of images that might include R or other derivatives. There are a few options! If you are in

[2019-08-15 14:55] nuest commented on #6
https://cloud.sylabs.io/library/search;query=rstats

[2019-08-15 14:56] vsoch commented on #6
I don't see any results (should I / need I be logged in?) but there is an rstudio container, https://cloud.sylabs.io/library/_container/5d22b29d3a2c26622b0382db#container-top

[2019-08-15 15:01] vsoch commented on #6
Looks like it installs R from scratch to an ubuntu base:
<details>

[code]

</details>

[2019-08-15 18:38] eddelbuettel commented on #6
So that looks like a copy what we do -- install prebuild .deb packages for R plus extra this and that.

[2019-08-15 18:42] vsoch commented on #6
Yeah, there are definitely many ways to skin this cat! I think @nuest was generally suggesting there might be (akin to how rocker images are provided) a Singularity equivalent. Normally with Singularity you can pull from docker, but the /init sequence doesn't work for Singularity for this particular case.

[2019-08-16 03:57] eddelbuettel commented on #6
@vsoch Also please don't conflate the rstudio-containing Docker containers (running a service / daemon) which all other ones. We have many (maybe too many) and very few have an init script. I focus more on plain containers with build customization built on top of rocker/r-base etc for testing etc pp and those should be just fine.

[2019-08-16 04:06] vsoch commented on #6
I don’t mean to! A rocker container with that init script (or any for that matter) is what I am referring to as it is a risk to run on a host with Singularity.

[2019-08-19 15:15] nuest commented on #6
So we have two kind of use cases for Singularity: the one where the main process is R (like `r-base`) that could just be pulled from Docker ("plain containers" as @eddelbuettel put it), and the ones where there is an init script (like anything with RStudio in it) where simply pulling from Docker does _not_ work and @vsoch has pasted a working `Singularity`-file above.

_Correct?_

[2019-08-19 15:17] vsoch commented on #6
Yes, definitely. Anything that just uses R (without the init) is okay, and in fact I'd recommend pulling Docker containers as it kills two birds with one stone. Anything with an init script... run at your own risk! :)

[2019-08-19 15:42] nuest opened #7 "Group telco #1"
We will have a first group call on **Monday, Sep 9 12:00 hrs CEST**, which is 10:00 UTC: https://www.timeanddate.com/worldclock/meetingdetails.html?year=2019&month=9&day=9&hour=10&min=0&sec=0&p1=37&p2=179&p3=137

**Agenda**

- Roll call/introductions
- Contributions so far
- Structure > https://github.com/nuest/rockerverse-paper/issues/4
- Next steps

@nanxstats @benmarwick @ColinFay @noamross @nt

[2019-08-19 15:42] nuest opened #8 "Group telco #2"
**Monday, Sep 9 20:00 hrs CEST**, which is 18:00 UTC: https://www.timeanddate.com/worldclock/meetingdetails.html?year=2019&month=9&day=9&hour=18&min=0&sec=0&p1=37&p2=179&p3=137

**Agenda**

- Roll call/introductions
- Contributions so far
- Notes from first telco > #7
- Structure > https://github.com/nuest/rockerverse-paper/issues/4
- Next steps

@nanxstats @benmarwick @ColinFay @noamross @nturaga

[2019-08-19 15:43] nuest opened #9 "Group telco #3 - Discussion and Conclusions"
**Not yet scheduled**: ~~https://www.doodle.com/poll/3wt6gm5u555uwfty~~

## Motivation

_This group telco(s) will give us a venue to exchange ideas for the discussion section and what the conclusions of the work are. IMO, the comprehensive picture we create gives a foundation not only to discuss the present and consolidate the observations, but also to sketch the agenda for the next years._

It wo

[2019-08-19 15:55] nuest commented on #3
**Hi all**! As a friendly reminder to start writing a few paragraphs, I have scheduled two online meetings on September 9. If you have not participated in [the Doodle](https://doodle.com/poll/2gdenwqaa4cqzwnb), then please still do it or let us know if you can make one of the two planned times:

- #7
- #8

[2019-08-20 11:25] ColinFay commented on #3
Should be able to make it for a call, I'll check my calendar and let you know.

[2019-08-20 20:24] ColinFay commented on #7
Count me in for this one.

[2019-08-20 20:26] nturaga commented on #7
@nuest I can make this call.

[2019-09-03 19:27] ColinFay commented on #7
Ok I'll be on train, so switching to telco number two #8 :)

[2019-09-09 09:30] rcannood commented on #2
At babelwhale we have a few tests for [Docker](https://github.com/dynverse/babelwhale/blob/master/R/test_docker_installation.R) and [Singularity](https://github.com/dynverse/babelwhale/blob/master/R/test_singularity_installation.R), though these might certainly need to be extended further.

[2019-09-09 10:02] nuest commented on #7
Call will start in a minute - need to dig out the password!

[2019-09-09 10:42] nuest opened #12 "Preprint venue"
Let's use this issue to vote on the preprint venue, one platform per comment.
Goal is to publish the preprint _end of October 2019_.
The platform should support posting the PDF as it is generated now.

Use as many :+1: and :-1: as you like (maybe adding a comment why in the case of the latter) so we can also do a negative sorting (choose the one where least people have valid concerns).

[2019-09-09 10:44] nuest commented on #7
**Participants**

- @lshep
- @nuest
- @nturaga

Discussion

- good job by team Bioconductor :100:
- there _is_ a need for a short generic intro
- _timeline? venue?_
  - full complete draft by end of October (preprint, see #12), submit before the end of the year
  - have drafts of all sections by end of Sep
  - use October for Discussion/Outlook (collaborative)
  - R Journal, but open for other ven

[2019-09-09 10:44] nuest commented on #8
**Notes from the first call**

https://github.com/nuest/rockerverse-paper/issues/7#issuecomment-529411417

[2019-09-09 11:20] eddelbuettel commented on #8
I had hoped to make the 1st call at 5:00am my time but stayed up too late.  The second is in the middle of my workday so I am unlikely to make that.  Sorry :-/

[2019-09-09 11:27] nuest commented on #12
~~PeerJ~~ ([closing down end of Sep](https://peerj.com/blog/post/115284881747/peerj-preprints-to-stop-accepting-new-preprints-sep-30-2019/))

[2019-09-09 11:31] nuest commented on #12
[Preprints.org](https://www.preprints.org/)

Run by MDPI, https://www.preprints.org/about, have comments, indexed well.

[2019-09-09 11:32] nuest commented on #12
[arXiv](https://arxiv.org/)

THE preprint server, but no DOI.

[2019-09-09 11:34] nuest commented on #12
[OSF preprints](https://osf.io/preprints/)

Open platform, non-profit.

[2019-09-09 11:35] nuest commented on #12
[Zenodo](https://zenodo.org/)

Not known as preprint server that much, more code/data/supplemental material.

[2019-09-09 12:57] nuest commented on #8
@eddelbuettel No worries - if you can squeeze in a brief look on the [suggested timeline](https://github.com/nuest/rockerverse-paper/issues/7#issuecomment-529411417) and think about (new?!) sections, that you would like to contribute (to), ideally some time this week, that would be great!

[2019-09-09 15:28] nanxstats commented on #12
MDPI is mostly a [predatory publisher](https://en.wikipedia.org/wiki/MDPI) so probably no... 😂

[2019-09-09 17:55] #5 closed

[2019-09-09 18:51] nuest commented on #8
Participants: @nuest @nanxstats @ColinFay @noamross

**Notes**

- See [notes from the first call](https://github.com/nuest/rockerverse-paper/issues/7#issuecomment-529411417)
- **structure**
  - avoid just having a list of packages
  - categories in R package section
    - clients
    - "wrapping" packages
    - packages "further away" from the Docker API probably fit better the use cases
- _at wha

[2019-09-09 19:02] noamross commented on #8
In this call we discussed, a suggested section structure, so as to homogenize style and make it easer for the main re-writers to make everything flow:

#### Use case (e.g., deployment of images to cloud infrastructure)

-  General description of application (moving images to cloud services to provision them for remote execution, scaling, etc.)
- Key considerations for this case (differences in clo

[2019-09-09 19:05] noamross commented on #3
@nolistic and @jnollis would be excellent to have as co-authors if they are interested in contributing a couple of paragraphs on the use-case of API deployment.

[2019-09-09 19:06] noamross commented on #3
@nolistic and @jnolis would be great co-authors to have aboard if they are interested in contributing a couple of paragraphs on the use-case of API deployment.

[2019-09-17 13:36] nuest opened #15 "card.com Dockerfiles - check them out"
https://github.com/cardcorp/card-rocker

[2019-09-18 13:02] nuest commented on #15
Hi @daroczig :wave: ! It seems you have done some work on R and containers :-) Would you be interested in checking out the current draft and topics at https://github.com/nuest/rockerverse-paper/blob/master/manuscript.Rmd? We're still open for new ideas and contributions, if there is a topic that you'd like to share from your work/research around/based on the "Rockerverse". And any kind of feedback

[2019-10-24 09:50] nuest commented on #3
@thebioengineer I saw your package https://github.com/thebioengineer/dockyard - interesting stuff.

Would you be interested to contribute a short section on the package to this collaboratively written article? Especially the relation to other packages such as `containerit`, `dockerfiler` and `stevedore` would be helpful.

[2019-10-24 15:55] thebioengineer commented on #3
hey @nuest, this looks like a really interesting project and I would be interested to see how I can help. Admittedly I had not seen the other packages before but I am happy to investigate, and maybe we can all learn from one another to make a really nice API to docker through R.

[2019-10-24 20:02] jnolis commented on #3
Hi! Me and @nolistic can contribute on how Rocker is used in production. We'll reference our open-source [R TensorFlow API repo](https://github.com/tmobile/r-tensorflow-api) and talk about the work done at T-Mobile with it.

Thanks @noamross!

[2019-11-06 09:47] nuest opened #26 "Submission"
IMO the [R Journal](https://journal.r-project.org) is the most fitting venue for this article, so (unlike the [preprint server](#12)) I decided _not_ to start a vote. Please raise your concerns here. We can also reach out to the [editors](https://journal.r-project.org/board.html) pre-submission.

## Missing pieces

There are a few ideas for small additions to the article, see https://github.com/nu

[2019-11-06 09:48] nuest opened #27 "Submit preprint mid-January"
Submit a first version of the article to arXiv (see #12 for voting on the venue).
If we manage to get a first complete version out by end of the year, we can seek feedback/advertise during [rstudio::conf (end of January)](https://rstudio.com/conference/).

## Archive and Subject Class

I suggest `cs.SE` (computer science - software engineering) as the category, see [arXiv Category Taxonomy](https:

[2019-11-06 11:45] #7 closed

[2019-11-06 11:49] nuest commented on #4
Structure agreed upon summarised in https://github.com/nuest/rockerverse-paper/issues/8#issuecomment-529620738

[2019-11-06 11:49] #4 closed

[2019-11-06 11:53] nuest commented on #2
@rcannood The tests look quite extensive to me - what else would you think should be checked?

[2019-11-06 15:33] nuest opened #29 "Mention Gigantum image stack"
Gigantum uses it's own image stack, which includes two R-related images: https://github.com/gigantum/base-images

Currently there is no contributor who would like to describe this.

[2019-11-06 17:11] nuest opened #31 "Rocker images with rkt / nix"
Does anyone have experiences with running Rocker images using CoreOS `rkt` or `nix`?

Is this relevant for the article?

[2019-11-06 17:16] eddelbuettel commented on #31
I would be fine skipping it.  I never heard of anyone running R on nix, so my interest in Rocker derivatives there is limited.   But just my $0.02 ...

[2019-11-06 17:31] nuest commented on #6
@vsoch I've added a first coarse section on Singulartiy - would appreciate your feedback (or even a PR?): https://github.com/nuest/rockerverse-paper/blob/master/manuscript.Rmd#L394

[2019-11-06 17:32] nuest commented on #3
Thanks to everyone who contributed thus far, recently @ColinFay @eddelbuettel @karthik @noamross :tada:

I've integrated the different contributions into the master branch, with some open discussions about changes that I would suggest as new pull requests, with some relevant pending changes: #25 #28 #30

------

@jnolis and @nolistic That would be a great contribution! I've tentatively added a bul

[2019-11-06 17:39] vsoch commented on #6
This is another paper?

[2019-11-06 17:39] vsoch commented on #6
Seems brief and correct.

[2019-11-06 18:55] nuest commented on #6
Yes, another paper :-)... focussed on R, more a lay of the land what exists around containers and Rocker.

Thanks for taking a look!

--
Daniel Nüst
Institute for Geoinformatics (ifgi) | University of Münster
Heisenbergstraße 2, 48149 Münster, Germany | +49 251 83 31962
https://nuest.staff.ifgi.de | https://o2r.info

[2019-11-06 18:55] nuest commented on #6
Yes, another paper :-)... focussed on R, more a lay of the land what exists around containers and Rocker.

Thanks for taking a look!

[2019-11-07 07:12] nuest commented on #29
Reason for an independent stack seemed to be licensing issues: https://twitter.com/davclark/status/1151267145398902784

@davclark Hi there! Is the comment in the issue above the whole story, or would you be interested in contributing a short paragraph about the Gigantum image stack to this overview article?

[2019-11-07 07:14] nuest opened #32 "Section on Windows images"
Will write it, won't be long - just haven't gotten to it yet.

[2019-11-07 07:19] nuest opened #33 "Section on non-Debian images"
IMO worth surveying, would welcome contributions.

@gaborcsardi Hi there! Not sure I've pinged you on this little project before: I'm collecting bits and pieces for a "lay of the land" around R and containers. _Would you be interested to contribute a couple of short sections on usage of containers in R-Hub? To me especially the challenges and lessons in maintaining images for different distributio

[2019-11-07 07:20] nuest opened #34 "Section on clients"
Contributions welcome, e.g. from @richfitz or @thebioengineer - but I can also write that.

[2019-11-07 07:21] nuest opened #35 "Section on capturing environments"
I'm happy to take the lead on the section, should be pretty straightforward to write.

@nanxstats I think the liftr content is a bit too long, as it partly repeats work already published elsewhere - do you want to give it a go, or may I do an attempt to flesh out the most important bits?

[2019-11-07 07:24] nuest commented on #35
@cole-brokamp Hi there! I realise no I have not pinged you yet about this collaboratively writting article surveying the state of the "Rockerverse". Would you be interested in contributing a little section on `rize`, and contribute as you like to other sections, the discussion, etc. ?

[2019-11-07 07:27] nuest opened #36 "Section on deployment and cloud services"
**Needs work!** I'm happy to do some editing, but sadly I can't tell the interesting stories.

Input needed from various parties, e.g. @rcannood @jnolis @nolistic @MarkEdmondson1234

[2019-11-07 07:29] nuest opened #37 "Section on CI and CD"
**Needs work!** I'm happy to do some editing, but sadly I can't tell the interesting stories.

Input needed from various parties, e.g. @MarkEdmondson1234 @rcannood

[2019-11-07 07:35] nuest opened #38 "Section on shared work environments"
The section already has some good content - possibly needs some shortening and editing, not much else.

----------

@gordonwoodhull @shaneporter @s-u Hi there! I'm putting together a little "lay of the land" of containers in R, find the current draft [here](https://nuest.github.io/rockerverse-paper/master.pdf). _Would you be interested in contributing a paragraph on the `RCloud` container and your

[2019-11-07 07:35] nuest opened #39 "Section on processing"
**Needs work**

[2019-11-07 07:36] nuest opened #40 "Section on research compendia"
It would be great @benmarwick can contribute his experiences and insight here. Plan B would be me writing this section..

[2019-11-07 07:39] nuest opened #41 "Section on development and debugging"
I came up with this section myself, so I should fininsh it, unless @gaborcsardi :wave: comes on board, which would be great!

- [x] add images for SAN debugging, see http://dirk.eddelbuettel.com/code/sanitizers.html @eddelbuettel Do you want to briefly describe https://github.com/rocker-org/r-devel-san and https://github.com/rocker-org/r-devel-san-clang, or is that all in the Rocker paper already

[2019-11-07 07:40] nuest opened #42 "Section on other container platforms"
I'm happty to just point to Singularity here.

If anyone has experiences with running Rocker containers with other container runtimes, it would be great to share those here.

[2019-11-07 07:41] nuest commented on #3
Please find a merged version including the PRs #25 #28 #30 here, if you want to get an overview of the current state https://uni-muenster.sciebo.de/s/fk1jwiVoNBmsnYL

I'll continue to use this issue for reminders, but with the structure taking shape I created issues on the sections that need work: #32 #33 #34 #35 #36 #37 #38 #39 #40 #41

Until the end of the month, I'll mostly take care of my own

[2019-11-07 07:50] nuest commented on #38
- [ ] briefly describe that `Binder` is _not_ using Rocker base images for _reasons..._

[2019-11-07 10:37] MarkEdmondson1234 commented on #3
Hello, I broke/dislocated my arm so have got delayed but I’m still following progress and will look to get some drafts ready by end of next week.

________________________________
From: Daniel Nüst <notifications@github.com>
Sent: Wednesday, November 6, 2019 6:32 PM
To: nuest/rockerverse-paper
Cc: Mark; Mention
Subject: Re: [nuest/rockerverse-paper] Rockerverse paper collaboration (#3)

Thanks to

[2019-11-07 11:18] eddelbuettel commented on #37
In a way there is not that much to it: you just place sufficient infrastructure in a container to run `R CMD check` on it.  I switched a few of my repos to it, and started some notes on it that I need to get back to "one day".

[2019-11-07 15:00] cole-brokamp commented on #35
Thanks for thinking of me, @nuest, I would be happy to contribute.  A pull request with an added section on `rize` is what you are thinking?

[2019-11-07 15:00] nuest commented on #3
Thanks Mark for the update. I am very sorry to hear about your accident - hope you recover soon!

Looking forward to your draft, I am really interested in your work and experiences and think they can make a great addition to the overall picture.

[2019-11-07 21:59] cboettig opened #43 "WholeTale"
@nuest Really nice collection here.  Can't recall if we've discussed it in other channels, but another project I think we may want to list / enlist is the work at https://wholetale.org, a reproducible research environment that I believe extends on rocker images for it's R images.  @craig-willis would probably be a good point of contact?

[2019-11-08 12:17] nuest commented on #33
I've just found a previous comment with some background reasoning. If Gabor is too busy, someone else can try to present the argument:

https://github.com/r-hub/rhub-linux-builders/issues/43#issuecomment-529834736

[2019-11-08 12:18] nuest commented on #41
See also #33

[2019-11-08 12:20] gaborcsardi commented on #33
Hi Daniel, IDK if I'll have time to write something, to be honest. If you have questions about the R-hub containers, me or @maelle will be happy to answer them.

[2019-11-08 12:22] nuest commented on #33
Thanks for getting back to me! No worries, I think I can present the argument myself, and if you have time you can give the section a read - I'll mention it here in the issue.

@maelle Your ideas or feedback are of course very welcome (in this section or others).

[2019-11-08 12:25] gaborcsardi commented on #33
@nuest Sounds perfect!

[2019-11-08 12:27] nuest commented on #43
Right! :+1: I agree WholeTale is worth mentioning, as it is a great example of the big things you can build upon Rocker. Our own project o2r operates on a smaller scale, but could also be added.

I think these also present a good counterpoint to Binder, which - for good reasons - uses it's own images and not the Rocker stack.

@craig-willis It would be great if someone from your team would be will

[2019-11-08 12:30] nuest commented on #35
Great! A PR based on the `master` branch would be great. There is already a bullet point for `rize`, but I'm open to your suggestions into other sections where it would fit better. Don't forget the author list and the contributions section.

Beyond that, feedback on any section (see respective issues) and especially your general observations or expectations in the discussion section (just bullet p

[2019-11-08 12:34] nuest commented on #8
Just assigning this to me to make sure I'll soon re-read the introduction and the opening statements of each section to match the overall structure suggested here.

[2019-11-08 12:38] nuest commented on #1
Covered in the existing sections.

[2019-11-08 12:38] #1 closed

[2019-11-08 12:40] #6 closed

[2019-11-08 12:49] nuest commented on #2
- [ ] If we have a package, it needs a hex sticker, obviously.

[2019-11-08 13:27] nuest commented on #3
:point_right: https://github.com/nuest/rockerverse-paper/issues/9 :100:

[2019-11-08 13:42] nuest opened #44 "CYVERSE"
CYVERSE has a bunch of different Dockerfiles/containers to provide computing environments, several of which use Rocker base images:

- https://learning.cyverse.org/projects/vice/en/latest/vice_apps/examples.html#vice-apps-in-de
- https://github.com/cyverse-vice/ (several use-case images, like Bioconductor or cell analysis)

@tyson-swetnam @jasonjwilliamsny _Hello!_ :wave: I'm coordinating a ~~litt

[2019-11-08 13:48] MarkEdmondson1234 commented on #37
I rely on this concept quite a lot, perhaps I can put more detail about it.  I change R code, commit to GitHub and it builds the Docker container with the new changes, which is then called from the running environments such as Kubernetes, Airflow KubernetesPodOperator, Cloud Run or a container running on a VM.

[2019-11-08 14:01] nuest opened #46 "RStudio images and professional products"
**RStudio has some Docker images on Docker Hub: https://hub.docker.com/u/rstudio**. Not all of them have open Dockerfiles, but some stuff is on GitHub:

- https://github.com/rstudio/docker-r-session-complete
- https://github.com/rstudio/r-docker

As per https://support.rstudio.com/hc/en-us/articles/360021594513-Running-RStudio-with-Docker-containers it is

There are also some further infos and doc

[2019-11-08 14:28] craig-willis commented on #43
Thanks @cboettig and @nuest.  I wasn't aware of this paper and would be happy to contribute.

[2019-11-08 14:51] nuest opened #47 "Beyond the paper"
Capturing the current state is great, but it would of course be useful to have a more dynamic resource that can be updated by many.

**Alternatives/Ideas:**

- just update the paper draft and let Travis build and publish a PDF (and/or an HTML)
  - could have the advantage to continue to "snapshot" the current state and update the preprint every year
- a page under the umbrella of the [Rocker Org](

[2019-11-08 23:46] jnolis commented on #36
I took a first swing at covering plumber APIs and the T-Mobile work. I put it in a separate branch. It needs some revision but let me know if that's roughly in line with what you were thinking!

[2019-11-09 18:12] benmarwick commented on #40
Thank you, I've started drafting here: https://hackmd.io/@Sq-NZxXnQQGtVzoZDwyznA/Sk0ijR8IV Could I ask you to talk a look and let me know if that seems suitable?

[2019-11-13 01:53] Hong-Revo commented on #3
Hey all, I only just found this repo. I have an [AzureContainers](https://github.com/Azure/AzureContainer) package which is for working with containers in Azure. It's also on [CRAN](https://cran.r-project.org/package=AzureContainers).

Among other things, you can spin up a container instance, push images to an Azure container registry, and deploy Kubernetes clusters. It also provides a thin shell

[2019-11-13 11:55] nuest commented on #3
@Hong-Revo It's surely not too late! Your use case and package would be a very welcome contribution. I guess the section on deployment - see #36 - fits best?

[2019-11-13 12:00] nuest commented on #36
Thanks @jnolis :+1: I'll take a look next week.

Until then, @Hong-Revo, please note the branch `deploying-to-production`](https://github.com/nuest/rockerverse-paper/tree/deploying-to-production) if you want to start working on describing the use case and experiences from [your work with Azure](https://github.com/Azure/AzureContainers). I'd be keen to hear about your usage of Rocker images and the

[2019-11-13 16:47] Hong-Revo commented on #3
Great, thanks. What kind of timetable do you have in mind? Is there a deadline for publication?

[2019-11-13 16:54] Hong-Revo commented on #3
Also pinging @dselivanov who is writing a very nice [RestRServe](https://github.com/dselivanov/RestRServe) package for serving requests. It's parallelised, unlike plumber which can only handle 1 request at a time. Would be good to see this mentioned as well.

[2019-11-13 20:52] nuest commented on #3
@Hong-Revo Re. deadline, see #26 and #27 - it would be great if you could provide a first draft of your contribution by the end of this month.

@dselivanov: Interesting package! Please feel free to open an issue and let us know, what you do with containers or what deployments you use containers for. Would be great to have more lessons learned about practical experiences with apps based on Rocker/D

[2019-11-18 23:31] nuest opened #50 "Section on Rocker (Project)"
- ? mention the CZ grant?

[2019-11-19 21:42] cole-brokamp commented on #35
Hi @nuest, I've decided to archive `rize` and not focus on its development any longer since we are switching to using the `renv` package from R Studio, rather than our own `automagic` package to manage dependencies.  Sorry for the inconvenience, but I think its best to not include a `rize` section for this reason.

[2019-11-22 10:03] nuest commented on #35
Thanks for the heads up!

Just out of curiosity: `renv` suffices for your cases - no need for containers? And what about the nice library detection from `automagic`, any plans about that?

[2019-11-22 14:24] cole-brokamp commented on #35
`renv` basically replaces automagic completely and then we can run it inside a container.  `renv::snapshot()` is the equivalent to `automagic::make_deps_file()` and then you can just copy the `renv.lockfile` to the container and use `renv::restore()` to install versioned dependencies.  See here for some more details: https://rstudio.github.io/renv/articles/docker.html

I am exploring some more opt

[2019-11-27 15:20] nuest commented on #3
Hi all! Please, be so kind to check your calendars if you can make one of the suggested times for a discussion call. I'm happy to lead the write-up of contents and am thankful for the diverse inputs up to now, but it would be great to have a conversation about the big picture to really complete this manuscript :point_right: **https://www.doodle.com/poll/3wt6gm5u555uwfty**

I understand if you're b

[2019-11-28 05:02] Hong-Revo commented on #36
I've added a bit on Kubernetes, along with an example of using AzureContainers to talk to k8s. Hopefully it's not too Microsoft-specific!

[2019-11-28 05:19] Hong-Revo commented on #47
There is a lot of overlap with the WebTechnologies task view, especially when you get to deployment. That task view is probably overfull right now, though.

[2019-11-28 05:21] Hong-Revo commented on #3
I'm fairly easy with times for the call.

[2019-11-30 18:47] thebioengineer commented on #34
Sorry for the delay. I am happy to take a stab at it. I'll get a branch going soon. @richfitz Any feedback once I commit the branch would be appreciated!

[2019-12-02 09:07] richfitz commented on #34
Sure, please ping me (and sorry, I've had very little spare bandwidth in the second half of this year)

[2019-12-07 19:10] rcannood commented on #34
I took a look at @thebioengineer's modifications in #51, changed a few things, and merged everything into master. The section needs a bit more work still, though.

Also, in order for the table to render properly, you currently need to install [my fork](https://github.com/rcannood/rticles/) of the rticles package until a PR is merged and published on CRAN.

[2019-12-12 18:26] nuest commented on #3
My sincere apologies :pray: _I messed up by failing to announce a date for the call in time._ A bunch of you would have been available this week! I'll try to make up for it with another push on the content during the next days to make the goal of a preprint by the end of the year #27.

I just updated the Doodle with selective times next week, though I think this is a long shot. I'll nevertheless a

[2019-12-13 14:04] #50 closed

[2019-12-16 10:16] nuest commented on #9
Dec 20 is a potential date, but only @nuest @rcannood @noamross would be available, which is not sufficient for the goal of the call.

_Call is postponed to 2020, potentially after the preprint publication._

[2019-12-16 10:22] nuest commented on #43
@craig-willis Would you still be interested in contributing a paragraph?

[2019-12-16 11:06] nuest commented on #27
Next steps here:

- post first preprint-ready draft here end of year 2019
- have a "voting" comment for all then listed co-authors to approve the draft (incl. affiliations, contribution section, general content) with a mid-January deadline
- submit to arXiv #12 and hope it's ready in time for all rstudio::conf-goers to read it on their trip there :smirk:

[2019-12-16 11:07] nuest commented on #3
Hi everyone. Only three people would be available for a call this week, which is very understandable but not helping the intention of having a broader discussion about the conclusions section for the manuscript.

**Updated suggestion for next steps**:

- @nuest wraps up loose ends in the current draft and makes an attempt at adjusting content length of the respective use cases and package descript

[2019-12-16 11:08] nuest commented on #12
Winner: arXiv

![image](https://user-images.githubusercontent.com/1325054/70902225-99c0f200-1ffc-11ea-93a1-8a6b66c77a66.png)

[2019-12-16 11:08] #12 closed

[2019-12-16 13:21] eddelbuettel commented on #27
It's all good and I am game.  I am fail confused about what RStudio::conf has to do with anything.  We are writing the paper virtually so all deadlines are ours.  (I think you are just being sneaky waving a commonly understood deadline device here....)

[2019-12-16 14:26] nuest commented on #27
Not trying to be sneaky :smile: I think a few of the co-authors (not me) might be going there (?), and the R community will be actively chatting about what's hot/new, and we could use that event to also get the preprint noticed.

[2019-12-16 15:48] nuest commented on #2
Just came across this one, and it seems to be a great boilerplate: https://github.com/mlr-org/mlr3verse (though it does not need packages from GitHub)

[2019-12-16 16:14] eddelbuettel commented on #2
Allow me to play devil's advocate:

- the (so-called) "rockerverse" collection appears to be a suite of mostly unrelated, non-overlapping packages
- so even installing one or two may not influence the likelihood of needing or wanting the remaining ones
- so why force them?
- mlr3 is actually a set of packages working together so having a bundle makes sense
- whereas this is more like a loosely unr

[2019-12-16 19:29] karthik commented on #3
I am not available for a call till January. Please send out another poll with a longer lead time. Also (I realize this may not be possible) but an email would be helpful as this type of group request is hard to wrangle amidst a very long GitHub issue thread.

[2019-12-18 16:03] #32 closed

[2020-01-08 09:20] nuest commented on #46
One more try pinging @koverholt @slopp @glin - it would be great to include a quick recap of your experiences and insights in this work.

[2020-01-09 10:42] #2 closed

[2020-01-09 13:57] nuest commented on #2
You convinced me! The hex sticker is still worth wasting some time on :-)

![image](https://user-images.githubusercontent.com/1325054/72073313-f65bb800-32ef-11ea-90fc-247b0986fe94.png)

[2020-01-10 16:40] #33 closed

[2020-01-10 16:51] nuest commented on #35
[`dockr`](https://github.com/smaakage85/dockr) by @smaakage85 must be added to this section.

[2020-01-11 12:17] eddelbuettel commented on #35
Per CRANberries, `dockr` was thrown off CRAN last night: http://dirk.eddelbuettel.com/cranberries/2020/01/11#dockr-0.8.6.

CRAN only give the usual terse [Archived on 2020-01-11 as check problems were not corrected in time](https://cloud.r-project.org/web/packages/dockr/index.html).

[2020-01-13 08:03] smaakage85 commented on #35
Hi. Thanks for info, @eddelbuettel . Right now I am trying to find out, why 'dockr' has been removed from CRAN, I want to fix this asap.

[2020-01-13 13:18] nuest commented on #46
@slopp Thanks for your contributions in #53

I changed the language to better fit who "we" is, as this is not an RStudio communication, see https://github.com/nuest/rockerverse-paper/commit/7294efd33048d2b55574bc1b6f662f1222c27650

_Are you OK with those changes?_

It would be great if you could have a link/reference for the Singularity aspect and can clarify (here) one thing for me: RStudio Conne

[2020-01-13 14:30] slopp commented on #46
@nuest  I left some comments on your re-wording, please update these changes.

RStudio Connect can run inside of a container, one of the links in the section is to a repository with Dockerfiles for running each of our products inside of a Docker container.

We do not have a reference for singularity, but you can generically reference their support for containers if you'd like.

[2020-01-13 15:01] #46 closed

[2020-01-13 23:35] #15 closed

[2020-01-13 23:35] nuest commented on #15
Please feel free to re-open.

[2020-01-13 23:40] nuest commented on #42
Mentioned podman stuff in https://github.com/nuest/rockerverse-paper/commit/38b7d45993e4eff4c1ea1e4d3aa7b89fb81988b0

[2020-01-13 23:40] #42 closed

[2020-01-13 23:53] #31 closed

[2020-01-13 23:56] nuest commented on #34
Thanks @rcannood !

@richfitz How's the spare time beginning of this year? Would you be interested to contribute? I think I can write a short section on stevedore myself, so your time might be better spend in the conclusions and in relating the existing packages to each other. Anyway, contributions very welcome!

[2020-01-14 10:39] nuest opened #54 "Add section on outsider"
I can't believe I forgot to include the outsider package by @DomBennett until now.

@DomBennett: this is the draft for a manuscript about "all stuff with Docker and R". I plan to add a short section in the "Research Compendia" section, as I think that fits your use case best. _Do you agree?_

It would be great if you could give it a quick read: https://github.com/nuest/rockerverse-paper/commit/712

[2020-01-14 11:14] nuest commented on #46
Thanks for taking another look! Should all be fixed in commit linked above.

[2020-01-14 14:46] DomBennett commented on #54
Thanks @nuest !

I've created a pull-request: https://github.com/nuest/rockerverse-paper/pull/55

Do you think it would be helpful to add a use case like one of the ones you cited in the comment? (https://github.com/DomBennett/om..astral/blob/master/examples/astral.R,
https://github.com/DomBennett/om..raxml#partitioned-dna-analysis)

I worry of taking up too much text.

[2020-01-14 17:28] davclark commented on #29
Just got the email from @nuest and responded there... but I'll try to pay closer attention in this issue as well!

[2020-01-15 14:36] nuest commented on #41
- [ ] mention running containers on a CI
- [ ] mention use case of rspatial, who use containers to try out development versions of system libraries and also the "lowest supported" versions, and an image for different set-ups users might have (installation locations non-standard..) > https://github.com/r-spatial/sf/tree/master/inst/docker
  - https://github.com/r-spatial/sf/issues/1231#issuecomment

[2020-01-15 16:19] #41 closed

[2020-01-16 10:57] nuest commented on #40
Sorry @benmarwick for not getting to this sooner - I even have to admit your draft slipped by.

So today I've learned a bit about the difference between author and committer, and added your draft "for you" (more transparent would have been if I'm the author and you the committer, but I really wanted to try out everything), then made a few changes. Your review is very welcome, see

https://github.c

[2020-01-16 16:06] nuest opened #57 "Update Bioconductor section"
It seems the _Bioconductor_ images described in the article have been deprecated by now, see https://github.com/Bioconductor/bioconductor_docker#deprecation-notice and https://bioconductor.org/help/docker/

I think the new model with community maintained use case images is interesting.

@lshep @nturaga Can you please update the section? This is a bit of unfortunate timing, but should be quick to r

[2020-01-16 16:07] lshep commented on #57
Yes we will relook at our section and make some updates

[2020-01-16 18:45] nuest commented on #38
@betatim @choldgraf collaborative writing project here - would you be interesting in contributing a bit more about the Binder use case for Docker + R? So far @karthik wrote about wholepunch.

[2020-01-16 19:22] choldgraf commented on #38
Thanks for reaching out! It'd be helpful if you gave a more specific prompt for what you need - how much text, what questions you'd like answered, etc...

[2020-01-16 21:36] nuest commented on #38
@choldgraf Right, that was rather unspecific. If you have 15 minutes to spare, you could take a look at the abstract and the "Jupyter Docker Stacks" paragraph in the section "Data Science Images". There might be more to tell about how this stack specifically handles R. _Also, Is there a citation commonly used for Conda?_

If you have a bit more time, you could write 8-10 sentences about the how re

[2020-01-16 21:44] #29 closed

[2020-01-17 16:05] nuest commented on #54
I think the level of detail is good now, the concrete code examples from other cases are likely to be removed to not go into too much detail.

[2020-01-17 16:05] #54 closed

[2020-01-17 18:30] davclark opened #61 "Use-case: GUI interfaces to Dockerized research / publication environments"
Over email with @nuest we discussed some of the reasons Gigantum has it's own set of Docker base images. We got into a bigger discussion than what we already included in the paper and agreed to create an issue for a potential inclusion after the initial pre-print.

It's important to acknowledge that there are currently a number of efforts to provide GUIs for researchers and readers to launch one o

[2020-01-17 21:04] nuest commented on #34
@richfitz Final ping: here is my take on `stevedore`: https://github.com/nuest/rockerverse-paper/commit/89d5069562b16e894190bf7aedfc84a837213aae
Feedback welcome. I'm also sure you might have use cases why you started stevedore, those are still welcome.

[2020-01-17 21:04] #34 closed

[2020-01-17 21:56] nuest commented on #40
@benmarwick Feel free to open a PR or re-open this if you see potential for improvement.

[2020-01-17 21:56] #40 closed

[2020-01-18 02:02] daroczig commented on #15
Sorry for the long delay -- just opened #62 62

[2020-01-18 12:14] nuest opened #63 "Double-check consistent use of CRAN and GitHub URLs"
1. Follow R Journal rules for citing packages
![image](https://user-images.githubusercontent.com/1325054/72663566-593a0700-39f4-11ea-88f0-2e48208803c6.png)
2. For packages not on CRAN add the GitHub link.
3. For packages with a JOSS/software paper, cite that instead of the CRAN package (if latter exists).

[2020-01-20 16:47] nuest commented on #57
@lshep Any e.t.a. on the update? Just want to align schedules/tasks.

[2020-01-20 18:45] lshep commented on #57
Nitesh and I will look at it tomorrow.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Daniel Nüst <notifications@github.com>
Sent: Monday, January 20, 2020 11:47:36 AM
To: nuest/rockerverse-paper <rockerverse-paper@noreply.github.com>
Cc: Shepherd, Lori <Lori.Shepherd@RoswellPark.org>; Mention <mention@noreply.github.com>
Subject: Re: [nuest/rockerverse-pap

[2020-01-22 17:32] nuest commented on #57
Thanks @nturaga I made some changes to the text, see commit linked above. Please review.

I think you missed some small bits still referring to the now deprecated set-up. Also, the "reduction in layers and image size" also referred to the old image stack AFAICT.

Feel free to re-open this issue or start a PR if my changes introduced incorrect content!

[2020-01-22 17:32] #57 closed

[2020-01-22 17:36] nuest opened #65 "Paper focus and potential split up"
[ This issue is related to #26 and #27 ]

As pointed out in the "Concerns" in #26, the paper reached a considerable length (in pages) and breadth in content by now. _That is really great!_ But based on some conversations with contributors, I'd like to gather some feedback here about the following suggestion:

A "natural cut" within the manuscripts contents are the two parts of "Images" and "Use ca

[2020-01-22 18:06] lshep commented on #65
It is great to see all the enthusiasm -  One paper, two paper - no strong opinion - just would be nice to see a paper come to flourish that we can be a part of.

[2020-01-22 18:15] nuest commented on #3
Hi everyone! The paper content is progressing, naturally at a slower pace than desired. My self-inflicted deadline is too easy to push. Nevertheless, please let me point all of you to two important actions:

- #65 suggests to remove some sections from the manuscript - please comment!
- The conclusions can be much stronger with your ideas and thoughts. Please read and open PRs or issues as you see

[2020-01-22 20:44] #43 closed

[2020-01-22 21:25] benmarwick commented on #65
I'm in favour of the split. The [instructions to authors](https://journal.r-project.org/share/author-guide.pdf) give some good reasons for a paper that is 8-10 pages. Currently we are at [17 pages](https://nuest.github.io/rockerverse-paper/master.pdf). The division of content proposed by @nuest would help to get closer to that target range, and and seems quite coherent.

[2020-01-22 23:09] noamross commented on #65
I concur, this seems like a natural split and I think the narrower topic will make for more coherent paper.

[2020-01-23 10:13] nuest commented on #44
Tyson got back to me via email - they'd like to contribute, but it is unlikely to come in time for a preprint.

[2020-01-23 10:32] nuest opened #66 "rc2"
Today I came across `rc2` or _Rc²_ talk at useR!2017: https://static.sched.com/hosted_files/user2017/ff/Rc2.pdf

The code seems to be developed still, see https://github.com/rc2server/, but the domain  is gone.

@mlilback @jharner If containerisation with R plays an important role in your work, please take a look at this manuscript/soon to be preprint: https://nuest.github.io/rockerverse-paper/mas

[2020-01-23 11:36] nuest commented on #35
Closed by https://github.com/nuest/rockerverse-paper/commit/e56e76729a135e18f9384a06d448a84048002269

[2020-01-23 11:36] #35 closed

[2020-01-23 17:00] tyson-swetnam commented on #44
First, I want to say how grateful we are for the Rocker group providing their many Docker images!

A couple of brief updates to explain what we are doing, and why we are doing it that way:

1) CyVerse is a National Science Foundation supported cyberinfrastructure for the life sciences. It provides FREE data storage (hosting and publication w/ DOI) & computing (cloud, hpd, htc) to NSF supported res

[2020-01-23 19:04] ColinFay commented on #65
I think capture and create environment might be the best section for r-online

[2020-01-27 12:32] #36 closed

[2020-01-27 12:32] #38 closed

[2020-01-27 12:32] #39 closed

[2020-01-27 12:34] nuest commented on #37
@MarkEdmondson1234 I restructured the sections quite a bit, but I think most of your content should still be there :-) Happy to get a review of the sections by you, since I think you actually do a lot more than what is hinted at. Feel free to open a PR or new issues for the final submission.

[2020-01-27 12:34] #37 closed

[2020-01-27 14:44] nuest commented on #27
Currently working on getting an endorsement for `cs.SE`. Help appreciated!

[2020-01-27 15:08] nuest commented on #63
The `\CRANpkg` and `\pkg` should be fine, but the GitHub linking is not consistent yet.

[2020-01-27 16:09] nuest opened #69 "Jenny Bryan's Thread on Twitter"
https://twitter.com/JennyBryan/status/913785731998289920 leads to fun things, that should be mentioned, see https://github.com/jennybc/docker-why#readme

(already covered ideas/perspectives not added here)

- https://github.com/jennybc/docker-why/network
  - https://github.com/stephenhmarsh/docker-why/commit/327036102965f983e8095e6e1a90acae777fa3b6 leading to https://github.com/virtualstaticvoid/h

[2020-01-27 16:24] #69 closed

[2020-01-27 17:01] #65 closed

[2020-01-27 17:02] nuest commented on #65
https://github.com/nuest/altRnative-paper

[2020-01-28 09:04] #8 closed

[2020-01-28 10:26] nuest commented on #27
Got the endorsement, article is submitted.

[2020-01-28 11:39] nuest commented on #27
![image](https://user-images.githubusercontent.com/1325054/73260901-3f09e100-41cb-11ea-9a56-bb5759c15242.png)

![image](https://user-images.githubusercontent.com/1325054/73260911-47621c00-41cb-11ea-87e0-3ba427d4893b.png)

[2020-01-28 14:12] eddelbuettel commented on #27
Minor issue (that gets me frequently too) is the left-over `~` from LaTeX spacing. I would suggest `s/Rocker~Project/Rocker Project/`.

Congratulations, otherwise :)

[2020-01-28 23:58] nuest commented on #27
Verflixt!

[2020-01-29 00:01] nuest commented on #27
I made an update, because two footnotes were also brokwn. The article was "on hold" anyway... probably will not be out quickly.

[2020-01-30 08:22] nuest commented on #27
https://arxiv.org/abs/2001.10641

![image](https://user-images.githubusercontent.com/1325054/73431996-06404800-4342-11ea-87a6-ae4c8235f929.png)

[2020-01-30 08:22] #27 closed

[2020-01-30 08:32] nuest opened #70 "Preprint feedback"
The preprint is published at [arXiv:2001.10641](https://arxiv.org/abs/2001.10641)

**Please leave your feedback here.** Thanks!

[2020-01-30 08:38] nuest commented on #9
The conclusions are actually in quite a good state, _in my opinion_. Happy to get more perspectives in there via PRs, no need for a call.

[2020-01-30 08:38] #9 closed

[2020-01-30 09:55] nuest commented on #3
Preprint is out: #27

I sent an email with more infos to all of you!

Next steps: #26

[2020-01-30 10:03] nuest commented on #44
@tyson-swetnam Thanks for taking the time to put this down. The Rocker people hopefully see your praises here - I can't take any credit for that.

Re. your list: I think you have a good reason for building your own stack (proxy, specific data storage backend) and the lessons learned would fit into the "common work environments" section.

The preprint is out now, so this would be a perfect time to

[2020-01-30 10:15] nuest opened #71 "Rocker in CI/CD with Hive"
From https://twitter.com/mattmulvahill/status/1151256859208081408

![image](https://user-images.githubusercontent.com/1325054/73440451-96d25480-4351-11ea-9db3-550d21d5b932.png)

https://github.com/mmulvahill/r-tidyverse-java

@mmulvahill Is the a small story to tell about your usage of Rocker in CI/CD? What does the CI do?

Current paper draft at https://nuest.github.io/rockerverse-paper/master.pd

[2020-01-30 10:21] nuest commented on #71
@psolymos you also mention your use of Rocker in that thread: https://twitter.com/psolymos/status/1151323155085979648

Same question to you: are there some interesting lessons learned to tell as part of this collaborative paper? See https://nuest.github.io/rockerverse-paper/master.pdf

[2020-01-30 14:43] nuest commented on #70
@gaborcsardi You've been working a lot with containers, so if you'd take a look and let us know what's missing or not well presented, that would be great!

[2020-01-30 16:42] psolymos commented on #71
@nuest thanks for checking in. I remember the tweet, and now I see that I am a bit late to the game (is there still a way to contribute?).

There are 2 primary use cases where I use Rocker images a lot (and Rocker is awesome, thanks for all the maintainers!):

(1) Rocker based or Rocker inspired images used as base image for Shiny apps deployed via Shinyproxy either on VMs or with a Kubernetes bac

[2020-01-30 17:03] MarkEdmondson1234 commented on #71
Nice @psolymos ! I was looking at OpenFaaS as a non GCP option.

[2020-01-30 19:06] gaborcsardi commented on #70
@nuest Most of this is actually new to me, I never researched how containers are used in the R community.... sry.

[2020-01-31 12:43] nuest commented on #70
@gaborcsardi Thanks for taking a look. Do you think your personal usage and experiences with containers are adequately captured (R-Hub stuff etc.) ?

[2020-01-31 12:45] nuest commented on #70
Ben caught a formatting error in the headline of the section "Using R to power enterprise software in production environments"

https://github.com/nuest/rockerverse-paper/commit/589d242a2af76555c9b05e9fbdd6b5999a8c8ca9

@benmarwick Good catch! I'll wait till you're done with your course preparations and then update the preprint so your participants get a nice version - sounds good?

[2020-01-31 13:50] gaborcsardi commented on #70
@nuest yes, very much so, thanks for that!

[2020-01-31 15:52] davclark commented on #61
Following up after reading the updated #26, my hunch is that this is a big chunk to add to an already long article. So, while I'm happy to proceed if there's enthusiasm to do so, I'm also happy to kick this to another pub / post somewhere. Personally, peer reviewed articles aren't that important for me... just getting information out! But I think there's enough to cover with this article that it c

[2020-01-31 21:13] choldgraf commented on #38
hey @nuest - sorry for the slow response here, I am slammed preparing for a trip to Australia to kick off a project. If I can help out briefly let me know where my time would be best-spent, but apologies if you've already got this resolved

[2020-01-31 23:15] Hong-Revo commented on #70
@nuest Thanks very much for getting this into shape and putting it on ArXiv. I've asked my colleagues to have a look as well.

[2020-02-04 07:11] nuest commented on #38
@choldgraf Nothing concrete here to do, I think we've got Binder vs. repo2docker vs. holepunch vs. Whole Tale covered quite well. Thanks! And have a good trip!

[2020-02-09 21:34] daroczig commented on #26
Thanks again for your hard work on this, really excited about seeing this in the R Journal!

- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to t

[2020-02-18 16:04] nuest commented on #70
@Hong-Revo Any feedback from your colleagues that we should take into consideration?

[2020-02-18 16:12] nuest commented on #61
@davclark Maybe you're right and this is rather a separate story. The Gigantum stack is described quite well, I think, in the article: https://github.com/nuest/rockerverse-paper/blob/master/manuscript.Rmd#L389 The graphical client is mentioned as an important feature, but not in detail.

Maybe we continue this in another context? Happy to schedule a call some time in March to chat and develop thes

[2020-02-18 16:18] nuest commented on #71
@psolymos Yes, contributions are still welcome, though they should be quite focused (= short ;-) ). If you have any particular lessons learned to share, I'm happy to help you find a good spot in the current manuscript for them.

- Your experiences with ShinyProxy could be an example when it is described
- If you have particular lessons learned, or also simple to complex examples, from using Rocker

[2020-02-18 23:03] davclark commented on #61
@nuest sounds like we're on the same page - I'd be very happy to do something collaborative like that. While of course I want to promote Gigantum, even more I want to keep the conversation going about improving the quality and accessibility of science. It'd be great to do that with @MarkusKonk, you, and whoever else is interested.

I'm generally busy but flexible in my scheduling (a lot of my work

[2020-02-19 01:42] psolymos commented on #71
Thanks @nuest , I'll get to it and send a PR.

[2020-02-19 22:21] mmulvahill commented on #71
Hi @nuest -- thanks for following up on email.  I definitely missed the GH ping.

My use case was very simple.  Similar to @psolymos, we used Gitlab's CI pipeline to build & unit test our projects on every commit.  I added the java jdk, rJava, and RJDBC to a Rocker image since the focus of the package was creating a function for returning a JDBC connection to our Hadoop cluster. Later on we incorp

[2020-02-26 09:21] nuest commented on #71
@mmulvahill Thanks for getting back. If you're keen on supporting the paper, you could take 20 mins. and check if the section "Development, debugging, and testing" covers the use case you describe. _Maybe you have a public URL that we could include as an illustrative example?_ What I see as an interesting bit I'd include as follows then:

@mmulvahill Regarding the dev environment in the VM: I thou

[2020-02-26 10:04] nuest commented on #44
@tyson-swetnam I've moved your content into the "HPC" section, see https://github.com/nuest/rockerverse-paper/commit/2c469db603fa2d11550e7c208e7eb64fcbd3558c

**Please check the changes**, especially the "private image registry", where I removed the "private" because the users image's are "publicly available".

[2020-02-26 15:10] tyson-swetnam commented on #44
Looks good to me.

On Wed, Feb 26, 2020 at 3:04 AM Daniel Nüst <notifications@github.com>
wrote:

--

*Tyson L. Swetnam, Ph.D.*
Research Assistant Professor, BIO5 Institute.
The University of Arizona
Office: 1 (520) 626-9104
tswetnam@cyverse.org
My Website <http://tyson-swetnam.github.io> | CyVerse
<https://www.cyverse.org/tyson-swetnam> | GitHub
<https://github.com/tyson-swetnam/> | ORCID
<https:

[2020-03-02 08:06] #66 closed

[2020-03-02 08:07] #44 closed

[2020-03-02 08:09] nuest commented on #61
I'll chat with @markuskonk in the coming days and we'll reach out to you. Closing this until then to proceed with the Rockerverse paper.

[2020-03-02 08:09] #61 closed

[2020-03-02 08:38] #71 closed

[2020-03-02 09:26] #63 closed

[2020-03-02 11:27] nuest commented on #3
Preparing for submission now, see #26

[2020-03-02 11:27] #3 closed

[2020-03-02 11:28] nuest commented on #70
FYI: new version of the preprint is submitted to arXiv, the differences are https://github.com/nuest/rockerverse-paper/compare/preprint.v1...preprint.v2

[2020-03-02 11:47] nuest commented on #26
@eddelbuettel
@DomBennett
@rcannood
@davclark
@ColinFay
@thebioengineer
@smaakage85
@slopp
@benmarwick/
@nolistic/
@jnolis/
@Hong-Revo
@karthik
@noamross
@lshep
@psolymos
@tyson-swetnam
@nturaga
@jasonjwilliamsny
@craig-willis
@nanxstats
@charvp

[2020-03-02 11:48] nuest commented on #26
@daroczig content has changed, please re-check your first box. Thanks! (Also: don't you want the ó in your last name?)

[2020-03-02 11:50] nuest commented on #26
@nuest @eddelbuettel @DomBennett @rcannood @davclark @ColinFay @thebioengineer @smaakage85 @slopp @benmarwick @nolistic @jnolis @Hong-Revo @karthik @noamross @lshep @psolymos @tyson-swetnam @nturaga @jasonjwilliamsny @craig-willis @nanxstats @charvp Please fill in [the template](https://github.com/nuest/rockerverse-paper/issues/26#issue-518356119). Thanks!

[2020-03-02 12:23] charvp commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [ ] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

I crea

[2020-03-02 16:16] benmarwick commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-02 17:46] psolymos commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-02 19:50] lshep commented on #26
- [X] I approve the final version
- [X] I have checked my affiliation information
- [X] I have checked the contribution statement and it adequately describes what I did
- [X] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [X] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

Please

[2020-03-02 19:55] JasonJWilliamsNY commented on #26
- [ ] I approve the final version
- [ ] I have checked my affiliation information
- [ ] I have checked the contribution statement and it adequately describes what I did
- [ ] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [ ] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

@tyson

[2020-03-02 20:04] nanxstats commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-03 02:03] karthik commented on #26
- [ ] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [ ] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-03 02:04] karthik commented on #26
I'll check off the acknowledgement after you merge my latest PR.

[2020-03-03 03:06] eddelbuettel commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

I have

[2020-03-03 07:38] ColinFay commented on #26
- [X] I approve the final version
- [X] I have checked my affiliation information
- [X] I have checked the contribution statement and it adequately describes what I did
- [X] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [X] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

Thanks

[2020-03-03 13:15] nuest commented on #70
New version of the preprint is now online: **https://arxiv.org/abs/2001.10641** (versioned: https://arxiv.org/abs/2001.10641v2)

Version 1: https://arxiv.org/abs/2001.10641v1

[2020-03-03 15:41] tyson-swetnam commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

Thanks

[2020-03-03 19:38] craig-willis commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

I've s

[2020-03-04 15:29] Hong-Revo commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

This l

[2020-03-08 07:21] smaakage85 commented on #26
* [X] I approve the final version
* [x]  I have checked my affiliation information
* [x]  I have checked the contribution statement and it adequately describes what I did
* [x]  I have checked the "Acknowledgements" to include the funding that supports my contribution.
* [x]  I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

ve

[2020-03-08 07:29] jnolis commented on #26
- [X] I approve the final version
- [X] I have checked my affiliation information
- [X] I have checked the contribution statement and it adequately describes what I did
- [X] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [X] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-08 22:41] noamross commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information (pending #83)
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY li

[2020-03-09 09:28] MarkEdmondson1234 commented on #26
- [ x] I approve the final version
- [x ] I have checked my affiliation information
- [x ] I have checked the contribution statement and it adequately describes what I did
- [x ] I have checked the "Acknowledgements" to include the funding that supports my contribution. (I have no funding so left it blank?)
- [ x] I agree to submit the article to the R Journal (where it will be reviewed and if acc

[2020-03-09 09:34] nuest commented on #26
Thanks to everyone who replied so far - this is progressing at a decent pace. I've just sent a friendly reminder to the remaining contributors.

**@ all:** Note we had some small additions, spelling error corrections, and format adjustments since the first call for approvals. I do _not_ think these warrant a reevaluation by the people providing their approval in the meantime. If you disagree, plea

[2020-03-09 14:36] davclark commented on #26
- [ ] I approve the final version
- [ ] I have checked my affiliation information
- [ ] I have checked the contribution statement and it adequately describes what I did
- [ ] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [ ] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-09 16:43] rcannood commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-09 18:12] DomBennett commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [x] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-10 17:41] slopp commented on #26
- [ ] I approve the final version
- [ ] I have checked my affiliation information
- [ ] I have checked the contribution statement and it adequately describes what I did
- [ ] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [ ] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

[2020-03-11 23:49] thebioengineer commented on #26
- [x] I approve the final version
- [x] I have checked my affiliation information
- [ ] I have checked the contribution statement and it adequately describes what I did
- [x] I have checked the "Acknowledgements" to include the funding that supports my contribution.
- [x] I agree to submit the article to the R Journal (where it will be reviewed and if accepted published with CC-BY license)

In the

[2020-03-12 10:02] nuest commented on #26
@thebioengineer Please check if this update works for you: https://github.com/nuest/rockerverse-paper/commit/eb528a2711a4f4ec84b71238abe55ed7bdd46d13

[2020-03-12 15:18] thebioengineer commented on #26
Looks good @nuest - thanks for making the edit!

[2020-03-13 12:26] nuest commented on #26
![image](https://user-images.githubusercontent.com/1325054/76620645-ed74a600-652d-11ea-8fbd-88c2f9de2c19.png)

https://github.com/nuest/rockerverse-paper/tree/submission

[2020-03-13 12:26] #26 closed

[2020-03-13 12:49] nuest commented on #70
New version of preprint submitted... will update here when online.

Diff: https://github.com/nuest/rockerverse-paper/compare/preprint.v2...preprint.v3

[2020-03-17 14:38] nuest opened #90 "Resubmission / final manuscript"
We'll probably have to do a revision, or provide a final manuscript. _Make sure this includes updates mentioned here!_

[2020-03-17 14:38] nuest commented on #90
https://github.com/nuest/rockerverse-paper/pull/89

[2020-04-07 11:06] nuest commented on #47
The Tracking CTV uses a GitHub-based workflow that could be helpful: https://github.com/rociojoo/CranTaskView-Track

[2020-06-11 05:58] nuest commented on #90
#91

[2020-06-11 06:36] nuest commented on #26
Hi @eddelbuettel @DomBennett @rcannood @davclark @daroczig @MarkEdmondson1234 @ColinFay @thebioengineer @smaakage85 @slopp @benmarwick @nolistic @jnolis @Hong-Revo @karthik @noamross @lshep @psolymos @tyson-swetnam @nturaga @charvp @jasonjwilliamsny @craig-willis @nanxstats !

_I just received news from The R Journal that our submission is accepted!_

I asked how to proceed with the small updates

[2020-08-17 13:18] #90 closed

[2020-08-17 13:21] nuest commented on #90
Resubmission with some editorial changes, diff: https://github.com/nuest/rockerverse-paper/compare/f7a75521426200487d2993a6fcbacc8190aaf3b7...master#diff-b031376ea6cb8ca666ceb2938a60be15

[2020-08-17 13:40] nuest commented on #90
[RJWrapper-diff.pdf](https://github.com/nuest/rockerverse-paper/files/5084563/RJWrapper-diff.pdf)

[2020-08-17 13:55] nuest commented on #90
Preprint v4 is submitted, will probably appear this night.

[2020-08-18 07:31] nuest commented on #90
https://arxiv.org/abs/2001.10641v4

[2020-08-18 07:34] nuest commented on #90
https://arxiv.org/pdf/2001.10641v4.pdf

[2020-09-21 08:08] nuest opened #93 "New projects"
![image](https://user-images.githubusercontent.com/1325054/93744546-51210f80-fbf2-11ea-90e4-8a2a975586e5.png)

https://www.sciencedirect.com/science/article/pii/S1364815220303728

[2020-10-01 14:46] nuest commented on #93
- `docknitr`: Using Docker in Rmarkdown to run chunks - https://cran.r-project.org/web/packages/docknitr/vignettes/docknitr.html

[2021-01-20 16:37] nuest opened #94 "Switch rendering from Travis CI to GitHub Actions"

[2021-04-07 09:19] #70 closed

[2021-04-07 09:27] nuest commented on #93
For a larger revision, it could be interesting to evaluate the state of R images for Singularity (or if Rocker images just work). We could even collaborate to create such images.

Here's a list of links from mid 2020 to get started:

- https://github.com/singularityhub/jupyter
- https://singularity-hub.org/collections/381/
- https://singularity-hub.org/collections/344/ > `matthewcarlucci/R_rocker

[2021-04-07 12:34] eddelbuettel commented on #93
FWIW I lost track of where it ended (as I personally do not play with Singularity) but there were quite some threads at our repo. From what I recall some just work, other may need work (as more involved).

[2022-03-28 13:48] nuest commented on #93
R containers on AWS Lambda (via https://twitter.com/mdneuzerling/status/1444561647381614592?s=09)

![image](https://user-images.githubusercontent.com/1325054/160412018-2d69f153-389f-498e-bd69-f93569aa3952.png)

**https://github.com/mdneuzerling/lambdr**